body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    color: #555;
    letter-spacing: 0.3px;
}

.title {
    font-size: 25px;
    text-align: center;
    color: rgb(10, 72, 153);
}

.progress-bar-a {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
    height: 5px;
    box-shadow: 0 4px 5px -2px gray;
}

.bar {
    height: 3.2px;
    background-color: rgb(0, 132, 255);
}

.main-title {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    color: rgb(10, 72, 153);
    font-family: 'Montserrat', sans-serif;
}

.progress-bar-b {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 5px;
    box-shadow: 0 3px 5px -2px gray;
}

.question-counter {
    margin-left: 30px;
}

.advise {
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
}

.quest-image {
    display: table;
    margin: 0 auto;
    background-color: red;
    margin-top: 25px;
    margin-bottom: 30px;
}

.quest-image img {
    width: 200px;
}

.main-form {
    text-align: center;
}

.true-input {
    background-color: #20a07a;
}

.false-input {
    background-color: #8b203b;
}

.main-input {
    background-color: rgb(10, 72, 153);
}

.main-form #fsubmit {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}



.main-form #fsubmit:hover {
    opacity: 0.8;
}

.main-form #fname {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#fname:focus {
    border: 3px solid rgb(10, 72, 153);
}

.main-form input{
    width: 30%;
    border-radius: 200px;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 638px) {
    .title {
        font-size: 18px;
    }

    #fname {
        font-size: 11px;
    }

    .main-form #fsubmit {
        font-size: 12px;
    }
}